body {
  background: #eee;
  font-family: sans-serif;
  padding:15px;
}



.card,
.button-container,
.title,
.content {
  width: 400px;
  background: #fff;
  margin: 20px auto;
  margin-bottom:5px;
  padding:5px;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container  {
  background: #e3f4ff;
  margin:auto;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  margin:auto;
  display:block;
}